body{
  background: rgb(192, 226, 240);
}
h1{
  font-size: 4em;
  text-shadow:3px 3px 2px grey;
}

h2{
  font-size: 2em;
  text-shadow:2px 2px 1px grey;
  text-align:center;
}

img{
  border-radius:3%;
  box-shadow: 5px 5px 2px grey;
}

li{
  padding:1em;
}

#selected>img{
  width:500px;
}

#selected{
  width:500px;
}

p{
  text-align: center;
}
